<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>731549091142-2gunnaphfqs5curmon4i45p2ui1s13ts.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.731549091142-2gunnaphfqs5curmon4i45p2ui1s13ts</string>
	<key>API_KEY</key>
	<string>AIzaSyD35npPOExu1USQNbOHNXoMrBEkyJJOYKM</string>
	<key>GCM_SENDER_ID</key>
	<string>731549091142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TYomiCH.TripApp</string>
	<key>PROJECT_ID</key>
	<string>tripapp-d7a0e</string>
	<key>STORAGE_BUCKET</key>
	<string>tripapp-d7a0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731549091142:ios:8c176c71dd4a7e17065147</string>
</dict>
</plist>